{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- White background -->
    <div class="overlay"></div>
    <div class="container">
        <!-- Page-title -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font">My Profile</h2>
                <hr class=" mb-4">
            </div>
        </div>
    </div>
    {{ profile }}
{% endblock %}
