html {
    height: 100%;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: rgb(228, 226, 224);
}

.border-black {
    border: 1px solid black !important;
}

body {
    background: url(https://image.shutterstock.com/image-photo/showman-young-male-entertainer-presenter-260nw-1062295226.jpg) no-repeat top center fixed;
    background-color: rgb(228, 224, 222);
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Nunito', sans-serif;
}

.performance-card,
.artist-card {
    margin-bottom: 15px;
}

/* CSS from Boutique Ado-project, Code Institute */

/* from Bulma (to optimize font-awsome-icons) */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.logo-font-white {
    text-transform: uppercase;
    color: rgb(228, 226, 224);
}

/* The logo will take up no more space than what the text requires */
.main-logo-link {
    width: fit-content;
}

.search-artists-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-white {
    background: white;
    color: black;
}

.search-artists-button:hover,
.search-artists-button:active,
.search-artists-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: rgb(206, 205, 205);
    color: black;
}

a.artist-type-badge > span.badge:hover,
a.performance-category-badge > span.badge:hover {
    background: white !important;
    color: #222 !important;
}


/* background */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(224, 223, 223);
    z-index: -1;
}


/* CSS for "Back to top"-button from Boutique Ado-project */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from css-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes -colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.allauth-form-inner-content input {
    border-color: black;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /* push the body down beneath the main page header */
    .header-container {
        padding-top: 164px;
    }
}

/* push the body down beneath the main page header on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}