html {
    height: 100%;
}

body {
    background: url(https://image.shutterstock.com/image-photo/showman-young-male-entertainer-presenter-260nw-1062295226.jpg) no-repeat top center fixed;
    background-color: rgb(54, 56, 56);
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Nunito', sans-serif;
}

.login-container {
    padding: 5000;
    margin-top: 30vh;
    height: 100vh;
    background-color: white;
}

/* CSS from Boutique Ado-project, Code Institute */

/* from Bulma (to optimize font-awsome-icons) */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

/* The logo will take up no more space than what the text requires */
.main-logo-link {
    width: fit-content;
}

.search-artists-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.search-artists-button:hover,
.search-artists-button:active,
.search-artists-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* background */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /* push the body down beneath the main page header */
    .header-container {
        padding-top: 164px;
    }
}