<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Artists-dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-artists-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Artists
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-artists-link">
                <a href="" class="dropdown-item">By Name</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Most Viewed</a>
                <a href="" class="dropdown-item">By Price (high-low)</a>
                <a href="" class="dropdown-item">By Price (low-high)</a>
                <a href="" class="dropdown-item">All Artists Random</a>
            </div>
        </li>
        <!-- Category-dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="" class="dropdown-item">Blues</a>
                <a href="" class="dropdown-item">Classical -instrumental</a>
                <a href="" class="dropdown-item">Classical -voice</a>
                <a href="" class="dropdown-item">Folk</a>
                <a href="" class="dropdown-item">Heavy-metal</a>
                <a href="" class="dropdown-item">Jazz</a>
                <a href="" class="dropdown-item">Musical/Showtunes</a>
                <a href="" class="dropdown-item">Pop</a>
                <a href="" class="dropdown-item">Rock</a>
                <a href="" class="dropdown-item">Other</a>
            </div>
        </li>
        <!-- Artist-type-dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="artist-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artist-type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artist-type-link">
                <a href="" class="dropdown-item">Band</a>
                <a href="" class="dropdown-item">Choir</a>
                <a href="" class="dropdown-item">Group</a>
                <a href="" class="dropdown-item">Solo</a>
                <a href="" class="dropdown-item">Other</a>
            </div>
        </li>
        {% if request.user.is_authenticated %}
            <!-- Users favourites -->
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="favourites-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My favourites
                </a>
            </li>
            <!-- Previously viewed -->
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="previously-viewed-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Previously Viewed
                </a>
            </li>
        {% endif %}
    </ul>
</div>