{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
     <!-- White background -->
     <div class="container h-100 overlay"></div>
     <div class="container-fluid">
         <!-- Page-title -->
         <div class="row h-100">
             <div class="col-7 col-md-6 my-auto">
                 <h2 class="logo-font">Products for {{ artist.artist_name }}</h2>
                 <hr class="w-50 mb-1">
             </div>
         </div>
         <!-- Display-area -->
         <div class="row">
             <div class="col s12 m6 xl4 artist-container offset-1">
                 <div class="row mt-1 mb-2"></div>
                 <div class="row">
                     {% for product in products %}
                         <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                             <div class="card h-100 border-2">
                                 <!-- Name-section -->
                                 <div class="card-body pb-0">
                                     <p class="lead mb-0 font-weight-bold">{{ product.product_name}}</p>
                                 </div>
                                 <div class="card-footer bg-white pt-0 border-0 text-left">
                                     <div class="row">
                                         <div class="col">
                                             <p class="mb-0 text-left">{{ product.product_description}}</p>
                                         </div>
                                         <div class="col">
                                            <p class="mb-0 text-left">$ {{ product.price }}</p>
                                        </div>
                                     </div>
                                 </div>

                                 <!-- Link to buy product -->
                                 <div class="card-action">
                                     <a href="#">Buy</a>
                                 </div>
                             </div>
                         </div>
                     {% endfor %}
                 </div>
             </div>
         </div>
     </div>
{% endblock %}